@using CardOverflow.Web.Helpers
@inject IJSRuntime JsRuntime

<p class="@(IsEditing ? " collapse" : "" )" onclick="@StartEditText">@Text</p>
<input ref="inputElement" class="@(IsEditing ? " " : " collapse")" onblur="@StopEditTitle" type="text" bind-value-oninput="@Text" />

@functions {
  ElementRef inputElement;
  [Parameter] string Text { get; set; }
  [Parameter] Action<string> UpdateText { get; set; }
  bool IsEditing { get; set; } = false;

  void StartEditText() {
    IsEditing = true;
    inputElement.Focus(JsRuntime);
  }

  void StopEditTitle() {
    IsEditing = false;
    UpdateText(Text);
  }

}
