@page "/conceptdiff/{A_LeafId:guid}"
@page "/conceptdiff/{A_LeafId:guid}/{B_LeafId:guid}"
@page "/conceptdiff/{A_LeafId:guid}/{ATitle}/{B_LeafId:guid}/{BTitle}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using System.Linq
@using HtmlDiff
@using DiffPlex;
@using ThoughtDesign.WebLibrary;
@using DiffPlex.DiffBuilder;
@using BlazorTextDiff;
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor
@* BlazorStrap's BSTabBase is causing the following exception on page load; ignore it'
  System.ObjectDisposedException: Cannot process pending renders after the renderer has been disposed.
  Object name: 'Renderer'.
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.ProcessPendingRender()
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.AddToRenderQueue(Int32 componentId, RenderFragment renderFragment)
     at Microsoft.AspNetCore.Components.ComponentBase.StateHasChanged()
     at Microsoft.AspNetCore.Components.Rendering.RendererSynchronizationContextDispatcher.InvokeAsync(Action workItem)
     at BlazorStrap.BSTabGroupBase.set_Selected(BSTabBase value)
     at BlazorStrap.BSTabBase.Dispose(Boolean disposing)
     at BlazorStrap.BSTabBase.Dispose()
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.Dispose(Boolean disposing)
*@

@if (_a == null || _b == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-sm">
      <HoverPreview IsCollected=@_aIsCollected Padding="0">
        <ResizingIframeExample LeafId=@A_LeafId MaxIndexInclusive=@_a.MaxIndexInclusive Back />
      </HoverPreview>
      <a href="leaf/@A_LeafId">
        @(ATitle ?? "Old Concept")
      </a>
      @if (_a.Grompleaf.Id != _b.Grompleaf.Id) {
        <span>
          &nbsp;and&nbsp;
        </span>
        <a href="gromplateleaf/@_a.Grompleaf.Id">
          Old Template
        </a>
      }
      @if (_aIsCollected && !_bIsCollected && _user.IsAuthenticated) {
        <button class="float-right btn btn-sm btn-success" @onclick=@_GetNewConcept>
          Get New Concept
        </button>
      }
    </div>
    <div class="col-sm">
      <HoverPreview IsCollected=@_bIsCollected Padding="0">
        <ResizingIframeExample LeafId=@B_LeafId MaxIndexInclusive=@_b.MaxIndexInclusive Back />
      </HoverPreview>
      <a href="leaf/@B_LeafId">
        @(BTitle ?? "New Concept")
      </a>
      @if (_a.Grompleaf.Id != _b.Grompleaf.Id) {
        <span>
          &nbsp;and&nbsp;
        </span>
        <a href="gromplateleaf/@_b.Grompleaf.Id">
          New Template
        </a>
      } else {
        <a href="gromplateleaf/@_a.Grompleaf.Id" class="float-right">
          Template
        </a>
      }
    </div>
  </div>
  <BSTabGroup>
    <BSTabList>
      <BSTab>
        <BSTabLabel>
          Holistic
          @if (_HasDifferences(_holisticDiffs().SelectMany(x => new List<string> { x.Front, x.Back }).ToList())) {
            <i class="fas fa-asterisk" title="Indicates that a difference exists."></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var diff in _holisticDiffs()) {
            <h4>Front</h4>
            <iframe srcdoc=@diff.Front style="width: 100%; height: 40vh; resize:vertical;" />
            <h4>Back</h4>
            <iframe srcdoc=@diff.Back style="width: 100%; height: 40vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Holistic detailed
          @if (_conceptZips().Any(x => x.AFront != x.BFront || x.ABack != x.BBack)) {
            <i class="fas fa-asterisk" title="Indicates that a difference exists."></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var zip in _conceptZips()) {
            <TextDiff OldText=@zip.AFront NewText=@zip.BFront CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Front
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
            <TextDiff OldText=@zip.ABack NewText=@zip.BBack CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Back
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Fields
          @if (_fieldNames.Any(name => _HasDifferences(_fieldDiff(name)))) {
            <i class="fas fa-asterisk" title="Indicates that a difference exists."></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <h4>@name</h4>
            <iframe srcdoc=@_fieldDiff(name) style="width: 100%; height: 30vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Fields detailed
          @if (_fieldNames.Any(name => _value(_a, name) != _value(_b, name))) {
            <i class="fas fa-asterisk" title="Indicates that a difference exists."></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <TextDiff OldText=@_value(_a, name) NewText=@_value(_b, name) CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  @name
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Templates
          @if (_HasDifferences(_XemplateHolistic().SelectMany(x => new List<string> { x.Front, x.Back }).ToList())) {
            <i class="fas fa-asterisk" title="Indicates that a difference exists."></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var template in _XemplateHolistic()) {
            <h4>Question Template</h4>
            <iframe srcdoc=@template.Front style="width: 100%; height: 40vh; resize:vertical;" />
            <h4>Answer Template</h4>
            <iframe srcdoc=@template.Back style="width: 100%; height: 40vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Templates detailed
          @if (
       _gromplateFields(_a) != _gromplateFields(_b) ||
       _XemplateDetailed().Any(x => x.AFront != x.BFront || x.ABack != x.BBack) ||
       _a.Grompleaf.Css != _b.Grompleaf.Css) {
      <i class="fas fa-asterisk" title="Indicates that a difference exists."></i>
    }
        </BSTabLabel>
        <BSTabContent>
          <TextDiff OldText=@_gromplateFields(_a) NewText=@_gromplateFields(_b) CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Fields
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          @foreach (var template in _XemplateDetailed()) {
            <TextDiff OldText=@template.AFront NewText=@template.BFront CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Question Template
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
            <TextDiff OldText=@template.ABack NewText=@template.BBack CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Answer Template
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
          <TextDiff OldText=@_a.Grompleaf.Css NewText=@_b.Grompleaf.Css CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                CSS
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
        </BSTabContent>
      </BSTab>
    </BSTabList>
    <BSTabSelectedContent />
  </BSTabGroup>
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  [Parameter] public Guid A_LeafId { get; set; }
  [Parameter] public Guid B_LeafId { get; set; }
  [Parameter] public string ATitle { get; set; }
  [Parameter] public string BTitle { get; set; }
  private string _loadingMessage = "Loading...";
  private LeafView _a;
  private LeafView _b;
  private bool _aIsCollected;
  private bool _bIsCollected;
  private string _gromplateFields(LeafView view) => view.Grompleaf.Fields.Select(x => x.Name).Apply(x => string.Join("\r\n", x));
  private List<string> _fieldNames;
  private string _value(LeafView view, string fieldName) => view.FieldValues.SingleOrDefault(x => x.Field.Name == fieldName)?.Value ?? "";
  private List<(string AFront, string ABack, string BFront, string BBack)> _conceptZips() =>
    _a.FrontBackFrontSynthBackSynth.ZipLongest(_b.FrontBackFrontSynthBackSynth, (a, b) =>
      (AFront: a?.Item1 ?? "",
        ABack: a?.Item2 ?? "",
        BFront: b?.Item1 ?? "",
        BBack: b?.Item2 ?? ""
      )).ToList();
  private List<(string Front, string Back)> _holisticDiffs() =>
    _conceptZips().Select(x =>
        (ViewLogic.diff(x.AFront, x.BFront),
        ViewLogic.diff(x.ABack, x.BBack))
      ).ToList();
  private string _fieldDiff(string name) => ViewLogic.diff(_value(_a, name), _value(_b, name));
  private List<(string Front, string Back)> _XemplateHolistic() =>
    _a.Grompleaf.FrontBackFrontSynthBackSynth().ZipLongest(_b.Grompleaf.FrontBackFrontSynthBackSynth(), (a, b) =>
     (AFront: a?.Item1 ?? "",
       ABack: a?.Item2 ?? "",
       BFront: b?.Item1 ?? "",
       BBack: b?.Item2 ?? ""
     )).Select(x =>
        (ViewLogic.diff(x.AFront, x.BFront),
        ViewLogic.diff(x.ABack, x.BBack))
      ).ToList();
  private List<(string AFront, string ABack, string BFront, string BBack)> _XemplateDetailed() =>
    _a.Grompleaf.JustCardTemplates.ZipLongest(_b.Grompleaf.JustCardTemplates, (a, b) =>
     (AFront: a?.Front ?? "",
       ABack: a?.Back ?? "",
       BFront: b?.Front ?? "",
       BBack: b?.Back ?? ""
     )).ToList();
  private bool _HasDifferences(string diff) => diff.Contains("<ins ") || diff.Contains("<del ");
  private bool _HasDifferences(List<string> diff) => _HasDifferences(string.Join("", diff));

  private void _OnOk() =>
    _fieldNames =
      _a.FieldValues.Concat(_b.FieldValues)
      .Select(x => x.Field.Name).Distinct().ToList();

  private void _OnError(string error) {
    ToastService.ShowError(error);
    _loadingMessage = error;
  }

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    _user = await UserTask;
    if (B_LeafId == Guid.Empty) {
      var x = await DbExecutor.QueryAsync(db => ConceptViewRepository.leafWithLatest(db, A_LeafId, _user.Id));
      if (x.IsOk) {
        (_a, _aIsCollected, _b, _bIsCollected, B_LeafId) = x.ResultValue;
        _OnOk();
      } else {
        _OnError(x.ErrorValue);
      }
    } else {
      var x = await DbExecutor.QueryAsync(db => ConceptViewRepository.leafPair(db, A_LeafId, B_LeafId, _user.Id));
      if (x.IsOk) {
        (_a, _aIsCollected, _b, _bIsCollected) = x.ResultValue;
        _OnOk();
      } else {
        _OnError(x.ErrorValue);
      }
    }
  }

  private async Task _GetNewConcept() {
    await DbExecutor.CommandAsync(db => ConceptRepository.CollectCard(db, _user.Id, B_LeafId, Gulid.Create(_b.MaxIndexInclusive).ToFList()));
    var collectedIds = await DbExecutor.QueryAsync(db => CardRepository.getCollected(db, _user.Id, new List<Guid> { A_LeafId, B_LeafId }));
    _aIsCollected = collectedIds.Contains(A_LeafId);
    _bIsCollected = collectedIds.Contains(B_LeafId);
  }

}
