@page "/diff/deck/{TheirDeckId:int}/{MyDeckId:int}"

@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Server.Pages.Stack
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using ThoughtDesign.WebLibrary
@using Microsoft.FSharp.Collections
@inject DbExecutor DbExecutor
@inject NavigationManager NavigationManager
@inject IToastService ToastService

@if (_diffState == null || _theirDeck == null || _myDeck == null) {
  <span>Loading...</span>
} else {
  <div class="row align-items-center text-center h3 border-bottom mb-3 pb-3">
    <div class="col">
      <div>
        <a href="deck/@_theirDeck.Id">@_theirDeck.Name</a>
      </div>
      <small>
        by <a href="user/@_theirDeck.AuthorId">@_theirDeck.AuthorName</a>
      </small>
    </div>
    <div class="col-1">
      vs.
    </div>
    <div class="col">
      <div>
        <a href="deck/@_myDeck.Id">@_myDeck.Name</a>
      </div>
      <small>
        by <a href="user/@_myDeck.AuthorId">@_myDeck.AuthorName</a>
      </small>
    </div>
  </div>
  @if (_diffState.AddedStack.Any()) {
    <div class="row">
      <div class="col text-center">
        <h4>
          Collect to sync with <a href="user/@_theirDeck.AuthorId">@_theirDeck.AuthorName</a>'s <a href="deck/@_theirDeck.Id">@_theirDeck.Name</a>
        </h4>
        @foreach (var ids in _diffState.AddedStack) {
          <div>
            <CollectToggles Ids=@(new StackBranchInstanceIds(ids.StackId, ids.BranchId, ids.BranchInstanceId))
                            DeckId=@(FSharpOption<int>.Some(MyDeckId))
                            UpdateCollectedIds=@(async _ => {
                                                    _diffState.Unchanged = _diffState.Unchanged.ToList()
                                                      .Concat(_diffState.AddedStack.Where(x => x.StackId == ids.StackId))
                                                      .ToFList();
                                                    _diffState.AddedStack = _diffState.AddedStack.Where(x => x.StackId != ids.StackId).ToFList();
                                                  }) />
            @CardPreview(ids.BranchInstanceId, ids.Index)
            @OtherDeckCheck(ids.DeckId)
          </div>
        }
      </div>
      <div class="col"></div>
    </div>
  }
  @if (_diffState.RemovedStack.Any()) {
    <div class="row">
      <div class="col"></div>
      <div class="col text-center">
        <h4>
          Discard to sync with <a href="user/@_theirDeck.AuthorId">@_theirDeck.AuthorName</a>'s <a href="deck/@_theirDeck.Id">@_theirDeck.Name</a>
        </h4>
        @foreach (var ids in _diffState.RemovedStack) {
          var ids2 = new StackBranchInstanceIds(ids.StackId, ids.BranchId, ids.BranchInstanceId);
          <div>
            <CollectToggles Ids=@ids2
                            DeckId=@(FSharpOption<int>.Some(MyDeckId))
                            CollectedIds=@(FSharpOption<StackBranchInstanceIds>.Some(ids2))
                            UpdateCollectedIds=@(_ => _diffState.RemovedStack = _diffState.RemovedStack.Where(x => x.StackId != ids.StackId).ToFList()) />
            @CardPreview(ids.BranchInstanceId, ids.Index)
            @OtherDeckCheck(ids.DeckId)
          </div>
        }
      </div>
    </div>
  }
  @if (_diffState.BranchChanged.Any()) {
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <h4>
          Switch branch to sync with <a href="user/@_theirDeck.AuthorId">@_theirDeck.AuthorName</a>'s <a href="deck/@_theirDeck.Id">@_theirDeck.Name</a>
        </h4>
        @foreach (var (theirs, mine) in _diffState.BranchChanged) {
          <div>
            <CollectToggles Ids=@(new StackBranchInstanceIds(theirs.StackId, theirs.BranchId, theirs.BranchInstanceId))
                            DeckId=@(FSharpOption<int>.Some(MyDeckId))
                            CollectedIds=@(FSharpOption<StackBranchInstanceIds>.Some(new StackBranchInstanceIds(mine.StackId, mine.BranchId, mine.BranchInstanceId)))
                            UpdateCollectedIds=@(async _ => {
                                                    _diffState.Unchanged = _diffState.Unchanged.ToList()
                                                      .Concat(_diffState.BranchChanged.Where(x => x.Item2.StackId == mine.StackId).Select(x => x.Item1))
                                                      .ToFList();
                                                    _diffState.BranchChanged = _diffState.BranchChanged.Where(x => x.Item2.StackId != mine.StackId).ToFList();
                                                  }) />
            Collect to switch from
            @CardPreview(mine.BranchInstanceId, mine.Index)
            to
            @CardPreview(theirs.BranchInstanceId, theirs.Index)
            <a href="stackdiff/@mine.BranchInstanceId/@theirs.BranchInstanceId" class="btn btn-info px-2 py-0" title="Go to diff.">
              &Delta;
            </a>
            @OtherDeckCheck(mine.DeckId)
          </div>
        }
      </div>
      <div class="col-3"></div>
    </div>
  }
  @if (_diffState.BranchInstanceChanged.Any()) {
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <h4>
          Update branch to sync with <a href="user/@_theirDeck.AuthorId">@_theirDeck.AuthorName</a>'s <a href="deck/@_theirDeck.Id">@_theirDeck.Name</a>
        </h4>
        @foreach (var (theirs, mine) in _diffState.BranchInstanceChanged) {
          <div>
            <CollectToggles Ids=@(new StackBranchInstanceIds(theirs.StackId, theirs.BranchId, theirs.BranchInstanceId))
                            DeckId=@(FSharpOption<int>.Some(MyDeckId))
                            CollectedIds=@(FSharpOption<StackBranchInstanceIds>.Some(new StackBranchInstanceIds(mine.StackId, mine.BranchId, mine.BranchInstanceId)))
                            UpdateCollectedIds=@(async _ => {
                                                    _diffState.Unchanged = _diffState.Unchanged.ToList()
                                                      .Concat(_diffState.BranchInstanceChanged.Where(x => x.Item2.StackId == mine.StackId).Select(x => x.Item1))
                                                      .ToFList();
                                                    _diffState.BranchInstanceChanged = _diffState.BranchInstanceChanged.Where(x => x.Item2.StackId != mine.StackId).ToFList();
                                                  }) />
            Update to switch from
            @CardPreview(mine.BranchInstanceId, mine.Index)
            to
            @CardPreview(theirs.BranchInstanceId, theirs.Index)
            <a href="stackdiff/@mine.BranchInstanceId/@theirs.BranchInstanceId" class="btn btn-info px-2 py-0" title="Go to diff.">
              &Delta;
            </a>
            @OtherDeckCheck(mine.DeckId)
          </div>
        }
      </div>
      <div class="col-3"></div>
    </div>
  }
  @if (_diffState.Unchanged.Any()) {
    <h4 class="text-center">
      Synced
    </h4>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        @foreach (var unchanged in _diffState.Unchanged) {
          @CardPreview(unchanged.BranchInstanceId, unchanged.Index)
        }
      </div>
      <div class="col-3"></div>
    </div>
  }
}

@code {
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private UserClaims _user = UserClaims.init;
  [Parameter] public int TheirDeckId { get; set; }
  private DeckWithFollowMeta _theirDeck;
  [Parameter] public int MyDeckId { get; set; }
  private DeckWithFollowMeta _myDeck;
  private DiffStateSummary _diffState;
  private List<SimpleDeck> _decks = new List<SimpleDeck>();

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.diff(db, _user.Id, TheirDeckId, MyDeckId)).Match(ToastService, x => _diffState = x);
    if (_diffState.DeckIds.Any(x => x != MyDeckId && x != TheirDeckId)) {
      _decks = await DbExecutor.QueryAsync(db => SanitizeDeckRepository.getSimple(db, _user.Id));
    }
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.getDeckWithFollowMeta(db, _user.Id, TheirDeckId)).Match(ToastService, x => _theirDeck = x);
    await DbExecutor.QueryAsync(db => SanitizeDeckRepository.getDeckWithFollowMeta(db, _user.Id, MyDeckId)).Match(ToastService, x => _myDeck = x);
    StateHasChanged();
  }

  private RenderFragment CardPreview(int branchInstanceId, short index) =>
    @<a href="stack?branchinstance=@branchInstanceId">
      <HoverPreview Padding="0">
        <ResizingIframe BranchInstance=@((branchInstanceId, index)) Back />
      </HoverPreview>
      @branchInstanceId
    </a>;

  private RenderFragment OtherDeckCheck(int cardsDeckId) =>
    cardsDeckId == MyDeckId || cardsDeckId == TheirDeckId
    ? (RenderFragment)null
    : @<span>
         Collecting will move from
         <a href="deck/@cardsDeckId">@(_decks.Single(x => x.Id == cardsDeckId).Name)</a>
         to
         <a href="deck/@MyDeckId">@(_myDeck.Name)</a>.
       </span>;

}
