@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (Gromplates == null) {
  <p><em>Loading...</em></p>
} else {
  <EditForm Model=@EditStack OnValidSubmit=@UpdateCard @onkeydown=@OnKeyDown tabindex="0" style="outline: none;">
    <fieldset disabled=@_isDisabled>
      <div class="form-group">
        <div class="row">
          <div class="col-sm">
            @if (EditStack.Kind.IsNewBranch_SourceStackId_Title || EditStack.Kind.IsUpdate_BranchId_Title) {
              <div class="input-group">
                <label for="branchTitleInput" class="col-form-label mr-2">
                  Branch Title:
                </label>
                <InputText @bind-Value=@EditStack.Title class="form-control" id="branchTitleInput" />
              </div>
            }
            @foreach (var field in EditStack.FieldValues) {
              <EditStackField Field=@field ValueUpdated=@(x => { field.Value = x; trySetIndexCount(); }) IsDisabled=@_isDisabled />
            }
          </div>
          <div class="col-sm">
            <div class="row">
              <a href="Gromplate/@_selectedGromplateId" class="col-sm-2 mt-2">
                Card Template
              </a>
              <select value=@_selectedGromplateId class="form-control col-sm-10" @onchange=@(x => x.Value.ToString().Apply(int.Parse).Do(id => UpdateSelectedGromplate(id)))>
                @foreach (var gromplate in Gromplates) {
                  <option value=@gromplate.Id>@gromplate.Editable.Name</option>
                }
              </select>
            </div>
            <div class="row">
              <a href="Gromplate/@_selectedGromplateId?InstanceId=@_selectedGromplateInstanceId" class="col-sm-2 mt-2" tabindex="-1">
                Revision
              </a>
              <select value=@_selectedGromplateInstanceId class="form-control col-sm-10" @onchange=@(x => x.Value.ToString().Apply(int.Parse).Do(UpdateSelectedGromplateInstance))>
                @foreach (var instance in _selectedGromplateInstances) {
                  <option value=@instance.Id>@instance.Created - @instance.EditSummary</option>
                }
              </select>
            </div>
            @if (EditStack.Backs.IsOk) {
              @foreach (var (back, i) in EditStack.Backs.ResultValue.Select((x, i) => (x, i))) {
                <iframe sandbox="allow-scripts" srcdoc=@back style="height: @(80/_indexCount)vh; width: 100%; resize: vertical;"></iframe>
                <EditStackDetail_CollectedCard Command=@_ccCommands.ElementAtOrDefault(i) UpdateCommand=@(command => _updateCollectedCardCommand(i, command)) />
              }
            } else {
              <span>
                Error: @EditStack.Backs.ErrorValue
              </span>
            }
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          @if (EditStack.Kind.TryGetCopySourceInstanceId(out var instanceId)) {
            <span>Copied from</span>
            <a href="leaf/@instanceId">
              Card
            </a>
          }
          @if (EditStack.Kind.TryGetBranchSourceStackId(out var stackId)) {
            <span>Branched from</span>
            <a href="stack/@stackId">
              Stack
            </a>
          }
        </div>
        <div class="col-sm">
          <div class="row mx-1">
            <span class="btn-group w-100">
              <InputText @bind-Value=@EditStack.EditSummary class="form-control w-100" placeholder="Edit Summary" />
              <button type="button" class="btn btn-primary" @onclick=@UpdateCard>Save</button>
            </span>
          </div>
          <div class="row float-right">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @if (_savedBranchId != default) {
              <span>
                Saved! Link to
                <a href="stack?branch=@_savedBranchId">
                  card.
                </a>
              </span>
            }
          </div>
        </div>
      </div>
    </fieldset>
  </EditForm>
}

@code {
  [Parameter] public ViewEditStackCommand EditStack { get; set; }
  [Parameter] public bool NewEditStackOnSave { get; set; }
  [Parameter] public List<ViewGromplateWithAllInstances> Gromplates { get; set; }
  [CascadingParameter] Task<UserClaims> UserTask { get; set; }
  private List<EditCollectedCardCommand> _ccCommands = new List<EditCollectedCardCommand>();
  private UserClaims _user = UserClaims.init;
  private List<ViewGromplateInstance> _selectedGromplateInstances;
  private int _selectedGromplateId;
  private int _selectedGromplateInstanceId;
  private bool _isDisabled;
  private int _savedBranchId;

  private void _updateCollectedCardCommand(int i, EditCollectedCardCommand command) {
    while (_ccCommands.ElementAtOrDefault(i) == default) {
      _ccCommands.Add(EditCollectedCardCommand.init);
    }
    _ccCommands[i] = command;
  }

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (Gromplates == null) {
      Gromplates = await DbExecutor.QueryAsync(db => SanitizeGromplate.GetMineWith(db, _user.Id, EditStack.GromplateInstance.GromplateId));
    }
    if (EditStack == null) {
      EditStack = new ViewEditStackCommand("Initial creation", new List<EditFieldAndValue>(), Gromplates.First().Instances.First(), UpsertKind.NewNewOriginal_TagIds(FSharpList<int>.Empty), null);
    }
    UpdateSelectedGromplate(EditStack.GromplateInstance.GromplateId, EditStack.GromplateInstance.Id);
    StateHasChanged();
  }

  //private void _SetOption(int newId) {
  //  EditStack.EditCollectedCard.CardSettingId = newId;
  //}

  async Task UpdateCard() {
    _isDisabled = true;
    var result = await DbExecutor.QueryAsync(db => SanitizeStackRepository.Update(db, _user.Id, _ccCommands.ToFList(), EditStack));
    if (result.IsOk) {
      ToastService.ShowInfo("Saved!");
      _savedBranchId = result.ResultValue;
      if (NewEditStackOnSave) {
        var fieldValues = EditStack.FieldValues.Select(x => new EditFieldAndValue(x.EditField, "")).ToList();
        EditStack = new ViewEditStackCommand(EditStack.EditSummary, fieldValues, EditStack.GromplateInstance, UpsertKind.NewNewOriginal_TagIds(FSharpList<int>.Empty), null);
        UpdateSelectedGromplate(EditStack.GromplateInstance.GromplateId, EditStack.GromplateInstance.Id);
        _isDisabled = false;
      }
    } else {
      ToastService.ShowError(result.ErrorValue);
      _isDisabled = false;
    }
  }

  void UpdateSelectedGromplate(int gromplateId, int? instanceId = null) {
    _selectedGromplateId = gromplateId;
    _selectedGromplateInstances = Gromplates.Single(t => t.Id == gromplateId).Instances;
    UpdateSelectedGromplateInstance(instanceId ?? _selectedGromplateInstances.First().Id);
  }

  void UpdateSelectedGromplateInstance(int instanceId) {
    _selectedGromplateInstanceId = instanceId;
    EditStack.GromplateInstance = Gromplates.SelectMany(x => x.Instances).Single(x => x.Id == instanceId);
    var valuesByField = EditStack.FieldValues.ToDictionary(fv => fv.EditField.Name, fv => fv.Value);
    EditStack.FieldValues = EditStack.GromplateInstance.Fields
      .Select(ViewFieldModule.copyTo)
      .Select(field =>
        (valuesByField.ContainsKey(field.Name)
          ? valuesByField[field.Name] ?? ""
          : "")
          .Apply(value =>
            new EditFieldAndValue(
              field,
              value ?? "")
      )).ToList();
  }

  Task OnKeyDown(Microsoft.AspNetCore.Components.Web.KeyboardEventArgs eventArgs) =>
    eventArgs.CtrlKey && eventArgs.Key == "Enter"
      ? UpdateCard()
      : Task.CompletedTask;

  private int _indexCount = 1;
  private void trySetIndexCount() {
    var newIndexCount = EditStack.Backs.ResultValue.Count();
    if (_indexCount != newIndexCount) {
      _indexCount = newIndexCount;
    }
  }

}
