@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient

<h3>Relationships</h3>
<ul class="list-unstyled">
  @foreach (var (relationship, cardId) in Card.Relationships.Where(x => !x.IsAcquired).Select(x => (x, x.SourceCardId == Card.Id ? x.TargetCardId : x.SourceCardId))) {
    <li>
      <button type="button" class="btn btn-outline-primary btn-sm" @onclick=@(() => Acquire(relationship.Name, relationship.SourceCardId, relationship.TargetCardId))>
        <span class="curate-tooltip-target">
          <span class="oi oi-eye@(relationship.IsAcquired ? " text-success" : "")" aria-hidden="true"></span>
          <span class="badge badge-success">@relationship.Users</span>
          <div class="curate-tooltip-content">
            <ResizingIframe SrcUrl=@("/card/" + @cardId + "/front/")></ResizingIframe>
          </div>
        </span>
        @relationship.PrimaryName<sub><small>@relationship.SecondaryName</small></sub>
      </button>
      <a href="/card/@cardId">@htmlByCardId[cardId]</a>
    </li>
  }
</ul>
@if (Card.IsAcquired) {
  <h3>Your Relationships</h3>
  <ul class="list-unstyled">
    @foreach (var (relationship, cardId) in Card.Relationships.Where(x => x.IsAcquired).Select(x => (x, x.SourceCardId == Card.Id ? x.TargetCardId : x.SourceCardId))) {
      <li>
        <button type="button" class="btn btn-primary btn-sm" @onclick=@(() => Unacquire(relationship.Name, relationship.SourceCardId, relationship.TargetCardId))>
          <span class="curate-tooltip-target">
            <span class="oi oi-eye@(relationship.IsAcquired ? " text-success" : "")" aria-hidden="true"></span>
            <span class="badge badge-success">@relationship.Users</span>
            <div class="curate-tooltip-content">
              <ResizingIframe SrcUrl=@("/card/" + @cardId + "/front/")></ResizingIframe>
            </div>
          </span>
          @relationship.PrimaryName<sub><small>@relationship.SecondaryName</small></sub>
        </button>
        <a href="/card/@cardId">@getHtml(cardId)</a>
      </li>
    }
  </ul>
}
@if (Card.IsAcquired) {
  <EditForm Model=@Command OnValidSubmit=@Add>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="RelationName">How are they related?</label>
        <InputText @bind-Value=@Command.Name class="form-control" id="RelationName" placeholder="Name of the relationship" /> @*this seems to break validation: @bind-Value:event="oninput"*@
      </div>
      <div class="form-group col-md-7">
        <label for="TargetCardUrl">Related card URL</label>
        <InputText @bind-Value=@Command.TargetCardLink class="form-control" id="TargetCardUrl" placeholder="buffbrains.io/card/1234" /> @*this seems to break validation: @bind-Value:event="oninput"*@
      </div>
      <div class="form-group col-md-1">
        <label>&nbsp;</label>
        <button type="submit" class="btn btn-primary form-control">Add</button>
      </div>
    </div>
    <ValidationSummary />
    <DataAnnotationsValidator />
  </EditForm>
}

@code {
  [Parameter]
  public CardOverflow.Pure.ExploreCard Card { get; set; }
  [CascadingParameter]
  UserEntity User { get; set; }
  AddRelationshipCommand Command;
  IDictionary<int, string> htmlByCardId = new Dictionary<int, string>();

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    Command = new AddRelationshipCommand { SourceCardId = Card.Id };
    var relationshipIds = Card.Relationships.SelectMany(x => new List<int> { x.SourceCardId, x.TargetCardId }).Distinct().Where(x => x != Card.Id).ToList();
    htmlByCardId = relationshipIds.ToDictionary(x => x, _ => "");
    htmlByCardId = (await relationshipIds.Select(async x => (x, await UserContentHttpClient.GetStrippedFront(x)))
      .Apply(Task.WhenAll))
      .ToDictionary(x => x.Item1, x => x.Item2);
    StateHasChanged();
  }

  string getHtml(int cardId) =>
    htmlByCardId.ContainsKey(cardId)
    ? htmlByCardId[cardId]
    : "Loading...";

  async Task Add() {
    var x = await DbExecutor.QueryAsync(db => SanitizeRelationshipRepository.Add(db, User.Id, Command));
    if (x.IsOk) {
      var targetCardId = SanitizeRelationshipRepository.GetCardId(Command.TargetCardLink).ResultValue;
      Card.Relationships = Card.Relationships.Append(new ViewRelationship(Command.Name, Card.Id, targetCardId, true, 1)).ToList();
      if (targetCardId != Card.Id && !htmlByCardId.ContainsKey(targetCardId)) { // lazy GetStrippedFront - don't use TryAdd
        htmlByCardId.Add(targetCardId, await UserContentHttpClient.GetStrippedFront(targetCardId));
      }
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

  async Task Acquire(string name, int sourceCardId, int targetCardId) {
    var x = await DbExecutor.QueryAsync(db => SanitizeRelationshipRepository.Add(db, User.Id, new AddRelationshipCommand(name, sourceCardId, targetCardId.ToString())));
    if (x.IsOk) {
      Card.Relationships.Single(r => r.SourceCardId == sourceCardId && r.TargetCardId == targetCardId && r.Name == name).IsAcquired = true;
      Card.Relationships.Single(r => r.SourceCardId == sourceCardId && r.TargetCardId == targetCardId && r.Name == name).Users++;
      StateHasChanged();
    } else {
      ToastService.ShowError(x.ErrorValue);
    }
  }

  async Task Unacquire(string name, int sourceCardId, int targetCardId) {
    await DbExecutor.CommandAsync(db => SanitizeRelationshipRepository.Remove(db, sourceCardId, targetCardId, User.Id, name));
    Card.Relationships.Single(r => r.SourceCardId == sourceCardId && r.TargetCardId == targetCardId && r.Name == name).IsAcquired = false;
    Card.Relationships.Single(r => r.SourceCardId == sourceCardId && r.TargetCardId == targetCardId && r.Name == name).Users--;
    StateHasChanged();
  }

}
