@using CardOverflow.Api
@using CardOverflow.Entity
@using CardOverflow.Web.Helpers
@inject IJSRuntime JsRuntime
@inject CardRepository CardRepository

<div class="row">
  <div class="col">
    •
    <ClickToEditInputText Text = "@Card.Question" UpdateText="@(s => Card.Question = s)" />
  </div>
  <div class="col">
    <ClickToEditInputText Text="@Card.Answer" UpdateText="@(s => Card.Answer = s)" />
  </div>
  <div class="col">
    <button onclick="@Delete">Delete</button>
  </div>
</div>

@functions {
  [Parameter] Action Delete { get; set; }
  [Parameter] CardEntity Card { get; set; }
}
