@using CardOverflow.Api
@using CardOverflow.Entity
@using CardOverflow.Web.Helpers
@inject IJSRuntime JsRuntime
@inject CardRepository CardRepository
@inject ConceptRepository ConceptRepository

<tr>
  <td>
    <ClickToEditInputText Text="@Concept.Title" UpdateText="@(s => Concept.Title = s)" />
  </td>
  <td>
    <ClickToEditInputText Text="@Concept.Description" UpdateText="@(s => Concept.Description = s)" />
  </td>
  <td>
    <button onclick="@Delete">Delete</button>
  </td>
</tr>

@functions {
  [Parameter] Action Delete { get; set; }
  [Parameter] Concept Concept { get; set; }
}
