@page "/deck/{DeckId:guid}"

@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Server.Pages.Concept
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using ThoughtDesign.WebLibrary
@inject DbExecutor DbExecutor
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject KeyValueStore KeyValueStore
@inherits QueryStringBase

@if (_error != default) {
  <span>_error</span>
} else if (_deck == null) {
  <span>Loading...</span>
} else {
  <h3>
    <div class="row">
      <div class="col">
        Deck:
        <a href="deck/@_deck.Id">
          @_deck.Name
        </a>
        <small> - by <a href="user/@_deck.AuthorId">@_deck.Author</a></small>
      </div>
      <div class="float-right">
        <FollowButtons Deck=@_deck />
      </div>
    </div>
  </h3>
}
<div class="d-flex justify-content-between align-items-center">
  <SearchBar SearchClicked="@SearchClicked" BackLink=@($"/deck/{DeckId}") CreateLink=@(x => $"/deck/{DeckId}?revision={x}") Ids=@_concepts?.Select(x => x.Revision.Id.ToString())?.Distinct()?.ToList() SelectedId=@_selectedRevisionId.ToString() />
</div>
@if (_selectedRevisionId == default) {
  @if (_concepts == null) {
    <p><em>Loading...</em></p>
  } else {
    <table class="table">
      <tr>
        <th></th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var concept in _concepts) {
        <tr>
          <td>
            <HoverPreview IsCollected=@concept.IsCollected>
              <ResizingIframeExample RevisionId=@concept.Revision.Id Front />
            </HoverPreview>
          </td>
          <td>
            @concept.Users
          </td>
          <td>
            <a href="/deck/@DeckId?revision=@concept.Revision.Id">
              @concept.Revision.StrippedFront
            </a>
          </td>
        </tr>
      }
    </table>
  }
  <Pager Details=@_details PageChanged=@PageChanged />
} else {
  <Concept RevisionId=@_selectedRevisionId.Value />
}

@code {
  [Parameter] public Guid DeckId { get; set; }
  private IList<CardOverflow.Pure.ExploreConceptSummary> _concepts;
  private PagedListDetails _details;
  private SearchCommand _search = new SearchCommand { Query = "" };
  private Guid? _selectedRevisionId;
  private Domain.Projection.Kvs.Deck _deck;
  private string _error;

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    if (_selectedRevisionId == default) {
      await PageChanged(1);
    }
    (await KeyValueStore.GetDeckSummary_(DeckId).ToTask())
      .Handle(ToastService, ref _deck, ref _error);
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await DbExecutor.QueryAsync(db => SanitizeConceptRepository.searchDeck(db, Guid.Empty, pageNumber, _search, DeckId));
    _details = pagedList.Details;
    _concepts = pagedList.Results.ToList();
  }

  Task SearchClicked(SearchCommand newSearch) {
    _selectedRevisionId = null;
    _search = newSearch;
    return PageChanged(1);
  }

  protected override void GetQueryStringValues() =>
    NavigationManager.TryGetQueryString<Guid?>("revision", out _selectedRevisionId);

}
