@using System.Linq
@using Microsoft.FSharp.Core
@using Microsoft.FSharp.Collections
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using CardOverflow.Server.Data
@inject DbExecutor DbExecutor
@inject IToastService ToastService
@inject UserContentHttpClient UserContentHttpClient
@inject TimeProvider TimeProvider

<tr>
  <th scope="row" style="text-align: center">
    <CollectToggles IsExample=true
                    CollectedIds=@CollectedIds
                    Ids=@(new ConceptRevisionIds(Example.Revision.ConceptId, Example.Id, Example.Revision.Id))
                    CardCount=@Example.Revision.Indexes.Count()
                    ExampleUsers=@Example.Users
                    RevisionUsers=@(_displayAllRevisions && _revisions != default ? (int?) _revisions.SortedMeta.First().Users : null)
                    UpdateCollectedIds=@UpdateCollectedIds />
  </th>
  <td>
    <div class="cursor-pointer list-group-item list-group-item-action @(Selected.Id == Example.Revision.Id ? "active" : "border-0")" @onclick="@(() => RevisionSelected.InvokeAsync(Example.Revision))">
      <span class="font-weight-bolder">
        @if (Example.Name == null) {
          <span>&laquo; Default &raquo;</span>
        } else {
          @Example.Name
        }
      </span>
      <span class="font-italic float-right">
        by <a href="@($"/user/{Example.AuthorId}")" style="color:unset">@Example.Author</a>
      </span>
      @if (_revisions != null && _displayAllRevisions) {
        <div>
          <Concept_ExampleSummary Revision=@_revisions.SortedMeta.First() />
        </div>
      }
    </div>
  </td>
  <td>
    <BSDropdown Class="align-self-center">
      <BSDropdownToggle Class="bg-transparent"></BSDropdownToggle>
      <BSDropdownMenu>
        @if (Example.AuthorId == _user.Id) {
          <BSDropdownItem Href="@($"concept/editexample/{Example.Id}")"><span class="oi oi-pencil"></span> Edit</BSDropdownItem>
        }
        <BSDropdownItem Href="@($"concept/copyrevision/{Example.Revision.Id}")"><span class="fas fa-copy"></span> Copy to a new Concept</BSDropdownItem>
        <BSDropdownItem Href="@($"example/{Example.Id}/revision")" target="_blank"><i class="fas fa-history"></i> Revisions (in new window)</BSDropdownItem>
        <BSDropdownItem OnClick=@toggleRevisions><i class="fas fa-history"></i> Revisions Toggle (this window)</BSDropdownItem>
        @if (Example.Name != null) {
          <BSDropdownItem Href="@($"conceptdiff/{Example.Revision.Id}")">&Delta; Compare with &laquo; Default &raquo;</BSDropdownItem>
        }
        @if (CollectedIds?.Value?.RevisionId != null && Example.Revision.Id != CollectedIds.Value.RevisionId) {
          <BSDropdownItem Href="@($"conceptdiff/{CollectedIds.Value.RevisionId}/Your Collected Example/{Example.Revision.Id}/Other Example")">&Delta; Compare with your collected Example</BSDropdownItem>
        }
      </BSDropdownMenu>
    </BSDropdown>
  </td>
</tr>
@if (_revisions != null && _displayAllRevisions) {
  foreach (var revision in _revisions.SortedMeta.Skip(1)) {
    <tr>
      <th></th>
      <td class="row pr-3">
        <div class="col-auto">
          <CollectToggles CollectedIds=@CollectedIds
                          Ids=@(new ConceptRevisionIds(revision.ConceptId, revision.ExampleId, revision.Id))
                          CardCount=@revision.Indexes.Count()
                          RevisionUsers=@revision.Users
                          UpdateCollectedIds=@UpdateCollectedIds />
        </div>
        <button class="col list-group-item list-group-item-action @(Selected.Id == revision.Id ? "active" : "border-0")" @onclick="@(() => RevisionSelected.InvokeAsync(revision))">
          <Concept_ExampleSummary Revision=@revision />
        </button>
      </td>
      <td>
        <BSDropdown Class="align-self-center">
          <BSDropdownToggle Class="pl-3 bg-transparent"></BSDropdownToggle>
          <BSDropdownMenu>
            <BSDropdownItem Href="@($"concept/copyrevision/{revision.Id}")"><span class="fas fa-copy"></span> Copy to a new Concept</BSDropdownItem>
            @if (Example.Name != null) {
              <BSDropdownItem Href="@($"conceptdiff/{revision.Id}")">&Delta; Compare with &laquo; Default &raquo;</BSDropdownItem>
            }
            <BSDropdownItem Href="@($"conceptdiff/{revision.Id}/Older Example Revision/{Example.Revision.Id}/Latest Example Revision")">&Delta; Compare with latest Example Revision</BSDropdownItem>
            @if (CollectedIds?.Value?.RevisionId != null && revision.Id != CollectedIds.Value.RevisionId) {
              <BSDropdownItem Href="@($"conceptdiff/{CollectedIds.Value.RevisionId}/Your Collected Example/{revision.Id}/Other Example")">&Delta; Compare with your collected Example</BSDropdownItem>
            }
          </BSDropdownMenu>
        </BSDropdown>
      </td>
    </tr>
  }
}

@code {
  [CascadingParameter] Task<Domain.Summary.User> UserTask { get; set; }
  private Domain.Summary.User _user = UserSummary.init;
  [Parameter] public Example Example { get; set; }
  [Parameter] public EventCallback<RevisionMeta> RevisionSelected { get; set; }
  [Parameter] public FSharpOption<UpsertIds> CollectedIds { get; set; }
  [Parameter] public EventCallback<FSharpOption<UpsertIds>> UpdateCollectedIds { get; set; }
  [Parameter] public RevisionMeta Selected { get; set; }
  private bool _displayAllRevisions;
  private ExampleRevision _revisions;

  public override async Task SetParametersAsync(ParameterView parameters) {
    await base.SetParametersAsync(parameters);
    _user = await UserTask;
    if (Selected.ExampleId == Example.Id && Selected.Id != Example.Revision.Id && !_displayAllRevisions) {
      await toggleRevisions();
    }
    StateHasChanged();
  }

  private void sub1() {
    foreach (var revision in _revisions.SortedMeta.Where(x => x.IsCollected)) {
      revision.Users--;
    }
  }

  private async Task toggleRevisions() {
    _displayAllRevisions = !_displayAllRevisions;
    if (_revisions == null) {
      await DbExecutor.QueryAsync(db => ConceptRepository.Revisions(db, _user.Id, Example.Id)).Match(ToastService, x => {
        _revisions = x;
        sub1();
      });
    }
    if (!_displayAllRevisions && _revisions.SortedMeta.Skip(1).Select(x => x.Id).Contains(Selected.Id)) {
      await RevisionSelected.InvokeAsync(Example.Revision);
    }
  }

}
