@page "/carddiff/{AId:int}"
@page "/carddiff/{AId:int}/{BId:int}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using System.Linq
@using HtmlDiff
@using DiffPlex;
@using DiffPlex.DiffBuilder;
@using BlazorTextDiff;
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor
@* BlazorStrap's BSTabBase is causing the following exception on page load; ignore it'
  System.ObjectDisposedException: Cannot process pending renders after the renderer has been disposed.
  Object name: 'Renderer'.
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.ProcessPendingRender()
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.AddToRenderQueue(Int32 componentId, RenderFragment renderFragment)
     at Microsoft.AspNetCore.Components.ComponentBase.StateHasChanged()
     at Microsoft.AspNetCore.Components.Rendering.RendererSynchronizationContextDispatcher.InvokeAsync(Action workItem)
     at BlazorStrap.BSTabGroupBase.set_Selected(BSTabBase value)
     at BlazorStrap.BSTabBase.Dispose(Boolean disposing)
     at BlazorStrap.BSTabBase.Dispose()
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.Dispose(Boolean disposing)
*@

@if (_a == null || _b == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-sm">
      <span class="curate-tooltip-target">
        <span class="oi oi-eye@(_aIsAcquired ? " text-success" : "")" aria-hidden="true" />
        <span class="curate-tooltip-content">
          <ResizingIframe BranchInstanceId=@AId Back />
        </span>
      </span>
      <a href="cardinstance/@AId">
        Old Card
      </a>
      @if (_a.TemplateInstance.Id != _b.TemplateInstance.Id) {
        <span>
          &nbsp;and&nbsp;
        </span>
        <a href="templateinstance/@_a.TemplateInstance.Id">
          Old Template
        </a>
      }
      @if (_aIsAcquired && !_bIsAcquired) {
        <button class="float-right btn btn-sm btn-success" @onclick=@_GetNewCard>
          Get New Card
        </button>
      }
    </div>
    <div class="col-sm">
      <span class="curate-tooltip-target">
        <span class="oi oi-eye@(_bIsAcquired ? " text-success" : "")" aria-hidden="true" />
        <span class="curate-tooltip-content">
          <ResizingIframe BranchInstanceId=@BId Back />
        </span>
      </span>
      <a href="cardinstance/@BId">
        New Card
      </a>
      @if (_a.TemplateInstance.Id != _b.TemplateInstance.Id) {
        <span>
          &nbsp;and&nbsp;
        </span>
        <a href="templateinstance/@_b.TemplateInstance.Id">
          New Template
        </a>
      } else {
        <a href="templateinstance/@_a.TemplateInstance.Id" class="float-right">
          Template
        </a>
      }
    </div>
  </div>
  <BSTabGroup>
    <BSTabList>
      <BSTab>
        <BSTabLabel>
          Holistic
          @if (_HasDifferences(_holisticFrontDiff()) || _HasDifferences(_holisticBackDiff())) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          <h4>Front</h4>
          <iframe srcdoc=@_holisticFrontDiff() style="width: 100%; height: 40vh; resize:vertical;" />
          <h4>Back</h4>
          <iframe srcdoc=@_holisticBackDiff() style="width: 100%; height: 40vh; resize:vertical;" />
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Holistic detailed
          @if (_a.FrontBackFrontSynthBackSynth.Item1 != _b.FrontBackFrontSynthBackSynth.Item1 ||
      _a.FrontBackFrontSynthBackSynth.Item2 != _b.FrontBackFrontSynthBackSynth.Item2) {
      <i class="fas fa-asterisk"></i>
    }
        </BSTabLabel>
        <BSTabContent>
          <TextDiff OldText=@_a.FrontBackFrontSynthBackSynth.Item1 NewText=@_b.FrontBackFrontSynthBackSynth.Item1 CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Front
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.FrontBackFrontSynthBackSynth.Item2 NewText=@_b.FrontBackFrontSynthBackSynth.Item2 CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Back
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Fields
          @if (_fieldNames.Any(name => _HasDifferences(_fieldDiff(name)))) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <h4>@name</h4>
            <iframe srcdoc=@_fieldDiff(name) style="width: 100%; height: 30vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Fields detailed
          @if (_fieldNames.Any(name => _value(_a, name) != _value(_b, name))) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <TextDiff OldText=@_value(_a, name) NewText=@_value(_b, name) CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  @name
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Templates
          @if (_HasDifferences(_questionTemplateDiff()) || _HasDifferences(_answerTemplateDiff())) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          <h4>Question Template</h4>
          <iframe srcdoc=@_questionTemplateDiff() style="width: 100%; height: 40vh; resize:vertical;" />
          <h4>Answer Template</h4>
          <iframe srcdoc=@_answerTemplateDiff() style="width: 100%; height: 40vh; resize:vertical;" />
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Templates detailed
          @if (
      _templateFields(_a) != _templateFields(_b) ||
      _a.TemplateInstance.QuestionXemplate != _b.TemplateInstance.QuestionXemplate ||
      _a.TemplateInstance.AnswerXemplate != _b.TemplateInstance.AnswerXemplate ||
      _a.TemplateInstance.Css != _b.TemplateInstance.Css) {
      <i class="fas fa-asterisk"></i>
    }
        </BSTabLabel>
        <BSTabContent>
          <TextDiff OldText=@_templateFields(_a) NewText=@_templateFields(_b) CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Fields
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.TemplateInstance.QuestionXemplate NewText=@_b.TemplateInstance.QuestionXemplate CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Question Template
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.TemplateInstance.AnswerXemplate NewText=@_b.TemplateInstance.AnswerXemplate CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Answer Template
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.TemplateInstance.Css NewText=@_b.TemplateInstance.Css CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                CSS
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
        </BSTabContent>
      </BSTab>
    </BSTabList>
    <BSTabSelectedContent />
  </BSTabGroup>
}

@code {
  [Parameter] public int AId { get; set; }
  [Parameter] public int BId { get; set; }
  [CascadingParameter] UserEntity User { get; set; }
  private string _loadingMessage = "Loading...";
  private BranchInstanceView _a;
  private BranchInstanceView _b;
  private bool _aIsAcquired;
  private bool _bIsAcquired;
  private string _templateFields(BranchInstanceView view) => view.TemplateInstance.Fields.OrderBy(x => x.Ordinal).Select(x => x.Name).Apply(x => String.Join("\r\n", x));
  private List<string> _fieldNames;
  private string _value(BranchInstanceView view, string fieldName) => view.FieldValues.SingleOrDefault(x => x.Field.Name == fieldName)?.Value ?? "";
  private string _holisticFrontDiff() => ViewLogic.diff(_a.FrontBackFrontSynthBackSynth.Item1, _b.FrontBackFrontSynthBackSynth.Item1);
  private string _holisticBackDiff() => ViewLogic.diff(_a.FrontBackFrontSynthBackSynth.Item2, _b.FrontBackFrontSynthBackSynth.Item2);
  private string _fieldDiff(string name) => ViewLogic.diff(_value(_a, name), _value(_b, name));
  private string _questionTemplateDiff() => ViewLogic.diff(_a.TemplateInstance.QuestionXemplate, _b.TemplateInstance.QuestionXemplate);
  private string _answerTemplateDiff() => ViewLogic.diff(_a.TemplateInstance.AnswerXemplate, _b.TemplateInstance.AnswerXemplate);
  private bool _HasDifferences(string diff) => diff.Contains("<ins ") || diff.Contains("<del ");

  private void _OnOk() =>
    _fieldNames =
      _a.FieldValues.OrderBy(x => x.Field.Ordinal).Concat(
        _b.FieldValues.OrderBy(x => x.Field.Ordinal))
      .Select(x => x.Field.Name).Distinct().ToList();

  private void _OnError(string error) {
    ToastService.ShowError(error);
    _loadingMessage = error;
  }

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    if (BId == 0) {
      var x = await DbExecutor.QueryAsync(db => CardViewRepository.instanceWithLatest(db, AId, User?.Id ?? 0));
      if (x.IsOk) {
        (_a, _aIsAcquired, _b, _bIsAcquired, BId) = x.ResultValue;
        _OnOk();
      } else {
        _OnError(x.ErrorValue);
      }
    } else {
      var x = await DbExecutor.QueryAsync(db => CardViewRepository.instancePair(db, AId, BId, User?.Id ?? 0));
      if (x.IsOk) {
        (_a, _aIsAcquired, _b, _bIsAcquired) = x.ResultValue;
        _OnOk();
      } else {
        _OnError(x.ErrorValue);
      }
    }
  }

  private async Task _GetNewCard() {
    await DbExecutor.CommandAsync(db => CardRepository.AcquireCardAsync(db, User.Id, BId));
    var acquiredIds = await DbExecutor.QueryAsync(db => AcquiredCardRepository.getAcquired(db, User.Id, new List<int> { AId, BId }));
    _aIsAcquired = acquiredIds.Contains(AId);
    _bIsAcquired = acquiredIds.Contains(BId);
  }

}
