@page "/carddiff/{AId:int}/{BId:int}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using System.Linq
@using HtmlDiff
@using DiffPlex;
@using DiffPlex.DiffBuilder;
@using BlazorTextDiff;
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor

@if (_a == null || _b == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <BSTabGroup>
    <BSTabList>
      <BSTab>
        <BSTabLabel>Holistic</BSTabLabel>
        <BSTabContent>
          <h4>Front</h4>
          <iframe srcdoc=@(ViewLogic.diff(_a.FrontBackFrontSynthBackSynth.Item1, _b.FrontBackFrontSynthBackSynth.Item1)) style="width: 100%; height: 40vh; resize:vertical;" />
          <h4>Back</h4>
          <iframe srcdoc=@(ViewLogic.diff(_a.FrontBackFrontSynthBackSynth.Item2, _b.FrontBackFrontSynthBackSynth.Item2)) style="width: 100%; height: 40vh; resize:vertical;" />
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>Holistic detailed</BSTabLabel>
        <BSTabContent>
          <TextDiff OldText=@_a.FrontBackFrontSynthBackSynth.Item1 NewText=@_b.FrontBackFrontSynthBackSynth.Item1 CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Front
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.FrontBackFrontSynthBackSynth.Item2 NewText=@_b.FrontBackFrontSynthBackSynth.Item2 CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Back
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>Fields</BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <h4>@name</h4>
            <iframe srcdoc=@ViewLogic.diff(_value(_a, name), _value(_b, name)) style="width: 100%; height: 30vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>Fields detailed</BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <TextDiff OldText=@_value(_a, name) NewText=@_value(_b, name) CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  @name
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>Templates</BSTabLabel>
        <BSTabContent>
          <h4>Question Template</h4>
          <iframe srcdoc=@ViewLogic.diff(_a.TemplateInstance.QuestionTemplate, _b.TemplateInstance.QuestionTemplate) style="width: 100%; height: 40vh; resize:vertical;" />
          <h4>Answer Template</h4>
          <iframe srcdoc=@ViewLogic.diff(_a.TemplateInstance.AnswerTemplate, _b.TemplateInstance.AnswerTemplate) style="width: 100%; height: 40vh; resize:vertical;" />
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>Templates detailed</BSTabLabel>
        <BSTabContent>
          <TextDiff OldText=@_a.TemplateInstance.Fields.OrderBy(x => x.Ordinal).Select(x => x.Name).Apply(x => String.Join("\r\n", x))
                    NewText=@_b.TemplateInstance.Fields.OrderBy(x => x.Ordinal).Select(x => x.Name).Apply(x => String.Join("\r\n", x)) CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Fields
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.TemplateInstance.QuestionTemplate NewText=@_b.TemplateInstance.QuestionTemplate CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Question Template
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.TemplateInstance.AnswerTemplate NewText=@_b.TemplateInstance.AnswerTemplate CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Answer Template
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          <TextDiff OldText=@_a.TemplateInstance.Css NewText=@_b.TemplateInstance.Css CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                CSS
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
        </BSTabContent>
      </BSTab>
    </BSTabList>
    <BSTabSelectedContent />
  </BSTabGroup>
}

@code {
  [Parameter] public int AId { get; set; }
  [Parameter] public int BId { get; set; }
  private string _loadingMessage = "Loading...";
  private CardInstanceView _a;
  private CardInstanceView _b;
  private List<string> _fieldNames;
  private string _value(CardInstanceView view, string fieldName) => view.FieldValues.SingleOrDefault(x => x.Field.Name == fieldName)?.Value ?? "";

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    var x = await DbExecutor.QueryAsync(db => CardViewRepository.instancePair(db, AId, BId));
    if (x.IsOk) {
      (_a, _b) = x.ResultValue;
      _fieldNames =
        _a.FieldValues.OrderBy(x => x.Field.Ordinal).Concat(
          _b.FieldValues.OrderBy(x => x.Field.Ordinal))
        .Select(x => x.Field.Name).Distinct().ToList();
    } else {
      ToastService.ShowError(x.ErrorValue);
      _loadingMessage = x.ErrorValue;
    }
  }

}
