@page "/Curate"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject CardOverflowDb Db

@if (concepts == null) {
  <p><em>Loading...</em></p>
} else {
  <div>
    @if (editingConcept != null) {
      <CurateEditModal Concept=@editingConcept UpdateConcept=@UpdateConcept Close=@CloseEditConceptModal />
    }
    <table class="table">
      <tr>
        <th>Preview</th>
        <th>Facet Count</th>
        <th>Name</th>
        <th>Tags</th>
      </tr>
      @foreach (var concept in concepts) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              Preview
              <ul class="curate-tooltip-content">
                @foreach (var facet in @concept.AcquiredFacets) {
                  <li>@facet.Description</li>
                  <li>
                    @* https://stackoverflow.com/questions/19739001/which-is-the-difference-between-srcdoc-and-src-datatext-html-in-an/ *@
                    <ul>
                      @foreach (var card in facet.Cards) {
                        <li>
                          <iframe sandbox allow-scripts class="curate-iframe-tooltip" srcdoc="@card.Front"></iframe>
                        </li>
                      }
                    </ul>
                  </li>
                }
              </ul>
            </div>
          </td>
          <td>
            @concept.AcquiredFacets.Count()
          </td>
          <td class=@(editingConcept?.Id == concept.Id ? "curate-selected" : "")>
            <button type="button" class="btn btn-link" onclick=@(() =>  ConceptClick(concept.Id))>
              @concept.Name
            </button>
          </td>
          <td>
            <ul>
              @foreach (var tag in @concept.AcquiredFacets.SelectMany(x => x.Cards.SelectMany(xx => xx.Tags)).Distinct()) {
                <li>
                  @tag
                </li>
              }
            </ul>
          </td>
        </tr>
      }
    </table>
    <Pager Details=@details PageChanged=@PageChanged />
  </div>
}

@code {
  [CascadingParameter]
  UserEntity User { get; set; }
  IList<AcquiredConcept> concepts;
  AcquiredConcept editingConcept;
  PagedListDetails details;

  protected override async Task OnInitAsync() {
    await PageChanged(1);
  }

  void ConceptClick(int conceptId) {
    var clickedConcept = concepts.First(x => x.Id == conceptId);
    editingConcept =
      new AcquiredConcept {
        Id = conceptId,
        Name = clickedConcept.Name,
        AcquiredFacets = clickedConcept.AcquiredFacets, // medTODO clone
    };
    StateHasChanged();
  }

  void CloseEditConceptModal() {
    editingConcept = null;
  }

  async Task UpdateConcept() {
    var result = SanitizeConceptRepository.Update(Db, User.Id, editingConcept.Id, editingConcept.Name);
    if (result.IsOk) {
      await result.ResultValue;
      var targetConcept = concepts.First(x => x.Id == editingConcept.Id);
      targetConcept.Name = editingConcept.Name;
      CloseEditConceptModal();
    } else {
      // lowToMedTODO this returns an error; show it
    }
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await ConceptRepository.GetAcquiredAsync(Db, User?.Id ?? 0, pageNumber);
    details = pagedList.Details;
    concepts = pagedList.Results.ToList();
  }

}
