@page "/Explore"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@inject CardOverflowDb Db

@if (concepts == null) {
  <p><em>Loading...</em></p>
} else {
  <div>
    <table class="table">
      <tr>
        <th>Preview</th>
        <th>Facet Count</th>
        <th>Users</th>
        <th>Name</th>
      </tr>
      @foreach (var concept in concepts) {
        <tr>
          <td>
            <div class="curate-tooltip-target">
              Preview
              <ul class="curate-tooltip-content">
                @foreach (var facet in @concept.Facets) {
                  <li>@facet.Description</li>
                  <li>
                    @* https://stackoverflow.com/questions/19739001/which-is-the-difference-between-srcdoc-and-src-datatext-html-in-an/ *@
                    <ul>
                      @foreach (var card in facet.LatestInstance.Cards) {
                        <li>
                          <iframe sandbox allow-scripts class="curate-iframe-tooltip" srcdoc="@card.Front"></iframe>
                        </li>
                      }
                    </ul>
                  </li>
                }
              </ul>
            </div>
          </td>
          <td>
            @concept.Facets.Count()
          </td>
          <td>
            @concept.Users
          </td>
          <td>
            <a href="concept/@concept.Id">
              @concept.Name
            </a>
          </td>
        </tr>
      }
    </table>
    <Pager Details=@details PageChanged=@PageChanged />
  </div>
}

@code {
  IList<ExploreConcept> concepts;
  PagedListDetails details;
  [CascadingParameter]
  UserEntity User { get; set; }

  protected override async Task OnInitAsync() {
    await PageChanged(1);
  }

  void ConceptClick(int conceptId) {
    var clickedConcept = concepts.First(x => x.Id == conceptId);
    StateHasChanged();
  }

  async Task PageChanged(int pageNumber) {
    var pagedList = await ConceptRepository.GetAsync(Db, User?.Id ?? 0, pageNumber);
    details = pagedList.Details;
    concepts = pagedList.Results.ToList();
  }

}
