@page "/stackdiff/{AId:int}"
@page "/stackdiff/{AId:int}/{BId:int}"
@using Microsoft.FSharp.Core
@using CardOverflow.Entity
@using CardOverflow.Debug
@using System.Linq
@using HtmlDiff
@using DiffPlex;
@using ThoughtDesign.WebLibrary;
@using DiffPlex.DiffBuilder;
@using BlazorTextDiff;
@using Microsoft.FSharp.Collections
@using CardOverflow.Pure
@using CardOverflow.Api
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using CardOverflow.Sanitation
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@inject IToastService ToastService
@inject DbExecutor DbExecutor
@* BlazorStrap's BSTabBase is causing the following exception on page load; ignore it'
  System.ObjectDisposedException: Cannot process pending renders after the renderer has been disposed.
  Object name: 'Renderer'.
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.ProcessPendingRender()
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.AddToRenderQueue(Int32 componentId, RenderFragment renderFragment)
     at Microsoft.AspNetCore.Components.ComponentBase.StateHasChanged()
     at Microsoft.AspNetCore.Components.Rendering.RendererSynchronizationContextDispatcher.InvokeAsync(Action workItem)
     at BlazorStrap.BSTabGroupBase.set_Selected(BSTabBase value)
     at BlazorStrap.BSTabBase.Dispose(Boolean disposing)
     at BlazorStrap.BSTabBase.Dispose()
     at Microsoft.AspNetCore.Components.RenderTree.Renderer.Dispose(Boolean disposing)
*@

@if (_a == null || _b == null) {
  <p><em>@_loadingMessage</em></p>
} else {
  <div class="row">
    <div class="col-sm">
      <span class="curate-tooltip-target">
        <span class="oi oi-eye@(_aIsAcquired ? " text-success" : "")" aria-hidden="true" />
        <span class="curate-tooltip-content">
          <ResizingIframeBranch BranchInstanceId=@AId MaxIndexInclusive=@_a.MaxIndexInclusive Back />
        </span>
      </span>
      <a href="cardinstance/@AId">
        Old Card
      </a>
      @if (_a.CollateInstance.Id != _b.CollateInstance.Id) {
        <span>
          &nbsp;and&nbsp;
        </span>
        <a href="collateinstance/@_a.CollateInstance.Id">
          Old Template
        </a>
      }
      @if (_aIsAcquired && !_bIsAcquired) {
        <button class="float-right btn btn-sm btn-success" @onclick=@_GetNewCard>
          Get New Card
        </button>
      }
    </div>
    <div class="col-sm">
      <span class="curate-tooltip-target">
        <span class="oi oi-eye@(_bIsAcquired ? " text-success" : "")" aria-hidden="true" />
        <span class="curate-tooltip-content">
          <ResizingIframeBranch BranchInstanceId=@BId MaxIndexInclusive=@_b.MaxIndexInclusive Back />
        </span>
      </span>
      <a href="cardinstance/@BId">
        New Card
      </a>
      @if (_a.CollateInstance.Id != _b.CollateInstance.Id) {
        <span>
          &nbsp;and&nbsp;
        </span>
        <a href="collateinstance/@_b.CollateInstance.Id">
          New Template
        </a>
      } else {
        <a href="collateinstance/@_a.CollateInstance.Id" class="float-right">
          Template
        </a>
      }
    </div>
  </div>
  <BSTabGroup>
    <BSTabList>
      <BSTab>
        <BSTabLabel>
          Holistic
          @if (_HasDifferences(_holisticDiffs().SelectMany(x => new List<string> { x.Front, x.Back }).ToList())) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var diff in _holisticDiffs()) {
            <h4>Front</h4>
            <iframe srcdoc=@diff.Front style="width: 100%; height: 40vh; resize:vertical;" />
            <h4>Back</h4>
            <iframe srcdoc=@diff.Back style="width: 100%; height: 40vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Holistic detailed
          @if (_cardZips().Any(x => x.AFront != x.BFront || x.ABack != x.BBack)) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var zip in _cardZips()) {
            <TextDiff OldText=@zip.AFront NewText=@zip.BFront CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Front
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
            <TextDiff OldText=@zip.ABack NewText=@zip.BBack CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Back
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Fields
          @if (_fieldNames.Any(name => _HasDifferences(_fieldDiff(name)))) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <h4>@name</h4>
            <iframe srcdoc=@_fieldDiff(name) style="width: 100%; height: 30vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Fields detailed
          @if (_fieldNames.Any(name => _value(_a, name) != _value(_b, name))) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var name in _fieldNames) {
            <TextDiff OldText=@_value(_a, name) NewText=@_value(_b, name) CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  @name
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Templates
          @if (_HasDifferences(_XemplateHolistic().SelectMany(x => new List<string> { x.Front, x.Back }).ToList())) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          @foreach (var template in _XemplateHolistic()) {
            <h4>Question Template</h4>
            <iframe srcdoc=@template.Front style="width: 100%; height: 40vh; resize:vertical;" />
            <h4>Answer Template</h4>
            <iframe srcdoc=@template.Back style="width: 100%; height: 40vh; resize:vertical;" />
          }
        </BSTabContent>
      </BSTab>
      <BSTab>
        <BSTabLabel>
          Templates detailed
          @if (
           _collateFields(_a) != _collateFields(_b) ||
           _XemplateDetailed().Any(x => x.AFront != x.BFront || x.ABack != x.BBack) ||
           _a.CollateInstance.Css != _b.CollateInstance.Css) {
            <i class="fas fa-asterisk"></i>
          }
        </BSTabLabel>
        <BSTabContent>
          <TextDiff OldText=@_collateFields(_a) NewText=@_collateFields(_b) CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                Fields
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
          @foreach (var template in _XemplateDetailed()) {
            <TextDiff OldText=@template.AFront NewText=@template.BFront CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Question Template
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
            <TextDiff OldText=@template.ABack NewText=@template.BBack CollapseContent=true MaxHeight="-1">
              <Header>
                <h6 style="padding: 12px; margin: 0px;">
                  Answer Template
                  <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                  <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                  <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
                </h6>
              </Header>
            </TextDiff>
          }
          <TextDiff OldText=@_a.CollateInstance.Css NewText=@_b.CollateInstance.Css CollapseContent=true MaxHeight="-1">
            <Header>
              <h6 style="padding: 12px; margin: 0px;">
                CSS
                <span class="badge badge-primary">@($"{context.Modifications} Line Modifications")</span>
                <span class="badge badge-danger">@($"{context.Deletions} Line Deletions")</span>
                <span class="badge badge-success">@($"{context.Additions} Line Additions")</span>
              </h6>
            </Header>
          </TextDiff>
        </BSTabContent>
      </BSTab>
    </BSTabList>
    <BSTabSelectedContent />
  </BSTabGroup>
}

@code {
  [Parameter] public int AId { get; set; }
  [Parameter] public int BId { get; set; }
  [CascadingParameter] UserEntity User { get; set; }
  private string _loadingMessage = "Loading...";
  private BranchInstanceView _a;
  private BranchInstanceView _b;
  private bool _aIsAcquired;
  private bool _bIsAcquired;
  private string _collateFields(BranchInstanceView view) => view.CollateInstance.Fields.Select(x => x.Name).Apply(x => String.Join("\r\n", x));
  private List<string> _fieldNames;
  private string _value(BranchInstanceView view, string fieldName) => view.FieldValues.SingleOrDefault(x => x.Field.Name == fieldName)?.Value ?? "";
  private List<(string AFront, string ABack, string BFront, string BBack)> _cardZips() =>
    _a.FrontBackFrontSynthBackSynth.ZipLongest(_b.FrontBackFrontSynthBackSynth, (a, b) =>
      (AFront: a?.Item1 ?? "",
        ABack: a?.Item2 ?? "",
        BFront: b?.Item1 ?? "",
        BBack: b?.Item2 ?? ""
      )).ToList();
  private List<(string Front, string Back)> _holisticDiffs() =>
    _cardZips().Select(x =>
        (ViewLogic.diff(x.AFront, x.BFront),
        ViewLogic.diff(x.ABack, x.BBack))
      ).ToList();
  private string _fieldDiff(string name) => ViewLogic.diff(_value(_a, name), _value(_b, name));
  private List<(string Front, string Back)> _XemplateHolistic() =>
    _a.CollateInstance.FrontBackFrontSynthBackSynth.ZipLongest(_b.CollateInstance.FrontBackFrontSynthBackSynth, (a, b) =>
     (AFront: a?.Item1 ?? "",
       ABack: a?.Item2 ?? "",
       BFront: b?.Item1 ?? "",
       BBack: b?.Item2 ?? ""
     )).Select(x =>
        (ViewLogic.diff(x.AFront, x.BFront),
        ViewLogic.diff(x.ABack, x.BBack))
      ).ToList();
  private List<(string AFront, string ABack, string BFront, string BBack)> _XemplateDetailed() =>
    _a.CollateInstance.JustTemplates.ZipLongest(_b.CollateInstance.JustTemplates, (a, b) =>
     (AFront: a?.Front ?? "",
       ABack: a?.Back ?? "",
       BFront: b?.Front ?? "",
       BBack: b?.Back ?? ""
     )).ToList();
  private bool _HasDifferences(string diff) => diff.Contains("<ins ") || diff.Contains("<del ");
  private bool _HasDifferences(List<string> diff) => _HasDifferences(String.Join("", diff));

  private void _OnOk() =>
    _fieldNames =
      _a.FieldValues.Concat(_b.FieldValues)
      .Select(x => x.Field.Name).Distinct().ToList();

  private void _OnError(string error) {
    ToastService.ShowError(error);
    _loadingMessage = error;
  }

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    if (BId == 0) {
      var x = await DbExecutor.QueryAsync(db => StackViewRepository.instanceWithLatest(db, AId, User?.Id ?? 0));
      if (x.IsOk) {
        (_a, _aIsAcquired, _b, _bIsAcquired, BId) = x.ResultValue;
        _OnOk();
      } else {
        _OnError(x.ErrorValue);
      }
    } else {
      var x = await DbExecutor.QueryAsync(db => StackViewRepository.instancePair(db, AId, BId, User?.Id ?? 0));
      if (x.IsOk) {
        (_a, _aIsAcquired, _b, _bIsAcquired) = x.ResultValue;
        _OnOk();
      } else {
        _OnError(x.ErrorValue);
      }
    }
  }

  private async Task _GetNewCard() {
    await DbExecutor.CommandAsync(db => StackRepository.AcquireCardAsync(db, User.Id, BId));
    var acquiredIds = await DbExecutor.QueryAsync(db => AcquiredCardRepository.getAcquired(db, User.Id, new List<int> { AId, BId }));
    _aIsAcquired = acquiredIds.Contains(AId);
    _bIsAcquired = acquiredIds.Contains(BId);
  }

}
